body {
    font-family: "Roboto", sans-serif;
    background-color: aqua;
}

h1 {
    font-weight: 700;
}

.curry-pic {
    margin: auto;
    max-width: 500px;
}

figcaption {
    font-size: 0.90em;
    color: blue;
}

.visual-head {
    font-weight: 700;
}

.pic-head {
    font-weight: 900;
}

.pmargin {
    margin: 50px 0px 20px 0px;
}

footer {
    margin-top: 40px;
    font-weight: 450;
}