body {
    font-family: "Open Sans", "Roboto", sans-serif;
    background-color: beige;
    color: teal;
}

nav {
    text-align: right;
}

nav a,
a {
    color: teal;
}


h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #2C5F6B;
}

h2 {
    margin-top: 23px;
    font-size: 30px;
    font-weight: 500;
    color: #3A7D8C;
}

main {
    padding: 30px 0;
    min-height: 77vh;
}

.abt-pgraph {
    font-size: 18px;
}

.headshot-pic {
    width: 200px;
}


footer {
    margin-top: 42px;
    padding: 20px 0;
    color: cyan;
    background-color: teal;
}

footer a {
    color: rgb(0, 215, 253);
    margin-left: 2px;
}

.resume strong {
    color: #508993;
}